[submodule "Hardware_electronic/kicad/modules/teensy.pretty"]
	path = Hardware_electronic/kicad/modules/teensy.pretty
	url = https://github.com/XenGi/teensy.pretty.git
[submodule "Hardware_electronic/kicad/library/teensy.pretty"]
	path = Hardware_electronic/kicad/library/teensy.pretty
	url = https://github.com/XenGi/teensy.pretty.git
