[submodule "Hardware_electronic/kicad/Libraries/teensy.pretty"]
	path = Hardware_electronic/kicad/Libraries/teensy.pretty
	url = https://github.com/XenGi/teensy.pretty.git
[submodule "Hardware_electronic/kicad/Libraries/teensy_library"]
	path = Hardware_electronic/kicad/Libraries/teensy_library
	url = https://github.com/XenGi/teensy_library.git
